@use "../theme/sizes" as *;

.profile {
    --gap: 0rem;

    &__avatar-image {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    &__info {
        --gap: 1rem;
    }

    &__buttons {
        --gap: 1rem;
    }

    &__stats  {
        --gap: 1rem;
        gap: var(--gap);
    }

    @media screen and (min-width: $desktop-width) {
        &__stats {
            --gap: 15px;
        }
    }
}