.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;

    &__featured {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    &__other {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
    }
}