@use "../theme/colors" as *;
@use "../theme/sizes" as *;

.stat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: fit-content;
    font-weight: 100;

    &__icon {
        width: 30px;
        color: $accent-color;
        font-size: $text-size-medium;
        text-align: center;
    }

    &__text {
        font-size: $text-size-small;
        white-space: nowrap;
    }
}