{% extends "base.njk" %}

{% block page %}

<section class="blog">
    <div class="blog__banner-container">
        <img class="blog__banner" src="{{ image }}">
        </img>

        <h1 class="blog__title">
            {{ name }}
        </h1>
    </div>

    <div class="blog__content">
        {{ content | safe }}
    </div>
</section>
{% endblock %}