{% extends "base.njk" %}
{% block head %}
    <script src="scripts/homeSwiper.js" type="module"></script>
{% endblock %}
{% block page %}
    <div class="home">
        <div class="info slide-tl">
            <h1>{{ name }}</h1>
            <p>{{ description }}</p>
        </div>
        <div class="project-swiper">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for project in projects -%}
                        <div class="swiper-slide">
                            {{ comp.slideProject(project) | safe }}
                        </div>
                    {%- endfor %}
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
{% endblock %}