{% extends "base.njk" %}
{% block page %}
    <div class="maininfo">
        <h1 class="title">lajbel</h1>
        <p>
            I'm Dani, a software developer
        </p>
    </div>
{% endblock %}