{% extends "base.njk" %}

{% block page %}
{{ comp.nav() | safe }}

<div class="boards">
    {{ comp.board({
    name: "Projects",
    type: "projects",
    cards: projects
    }) | safe }}
    {{ comp.board({
    name: "Games",
    type: "games",
    cards: games
    }) | safe }}
    {{ comp.board({
    name: "Blog",
    type: "blogs",
    cards: blogs
    }) | safe }}
</div>
{% endblock %}