{% extends "base.njk" %}

{% block page %}
<div class="pf">
    <div class="pf__content">
        <h1 class="pf__title pf__title--accent">lajbel</h1>
        <section class="pf__summary">
            <img class="pf__avatar" src="/images/banners/realajbel.jpg" alt="lajbel">
            <div class="pf__info">
                <p class="pf__description">
                    I'm a 17 year old developer from Argentina, I'm a <span
                        class="pf__description-blue">TypeScript</span>
                    developer, specialized in Front-End
                    development.
                </p>

                <div class="pf__data">
                    <div class="pf__data-item">
                        <i class="pf__data-icon fa-solid fa-person"></i>
                        <p class="pf__data-text">
                            {{ info.gender }}
                        </p>
                    </div>
                    <div class="pf__data-item">
                        <i class="pf__data-icon fa-solid fa-envelope"></i>
                        <p class="pf__data-text">
                            {{ info.email }}
                        </p>
                    </div>
                    <div class="pf__data-item">
                        <i class="pf__data-icon fa-solid fa-map-marker"></i>
                        <p class="pf__data-text">
                            {{ info.city }}
                        </p>
                    </div>
                    <div class="pf__data-item">
                        <i class="pf__data-icon fa-solid fa-cake-candles"></i>
                        <p class="pf__data-text">
                            {{ info.birth }}
                        </p>
                    </div>
                </div>

                <div class="pf__buttons">
                    <a href="https://danibi.notion.site/Resume-CV-b22bf2f2afc54e5a89b45f73dafcd692?pvs=4"
                        target="_blank">
                        <button class="pf__button">Check CV</button>
                    </a>

                    <a href="/space">
                        <button class="pf__button">Check My Space</button>
                    </a>
                </div>

            </div>
        </section>
        <section class="pf__projects">
            <h2 class="pf__subtitle pf__subtitle--accent">Featured Projects</h2>

            <div class="pf__featured-projects">
                {% for project in search.pages(["lang=en featured=true", tag] | join) %}
                {{ comp.newCard(project) | safe }}
                {% endfor %}
            </div>
        </section>
    </div>
</div>
{% endblock %}