{% set className %}
{{- "button" -}}
{% endset %}

{% set modifierClasses = "" %}
{% for modifier in modifiers %}
{%- set modifierClasses = (modifierClasses + " " + className + "--" + modifier) -%}
{% endfor %}

<a class="button {{ modifierClasses }}" aria-label="{{ label }}" href={{ link }}>
    {{ text }}
    <i class="button__icon {{ icons[icon] }}"></i>
</a>