---
import birdyImage from "@/assets/images/birdy.png";
import Hero from "@/components/common/Hero.astro";
import Base from "@/layouts/Base.astro";
import { getStaticPathsByLocales } from "@/util/path";
import { Image } from "astro:assets";

export function getStaticPaths() {
    return getStaticPathsByLocales();
}

const { t, lang } = Astro.props;
---

<Base
    {t}
    {lang}
    meta={{
        title: "Daniel Báez Ibarrola - Games, Game Engines and Websites",
        description:
            "I lead and manage projects related to video games and web. I’ve worked with different teams, taking part in leadership, problem-solving and making sure things get done.",
    }}
>
    <Hero class="flex-col-reverse gap-16 mt-6 lg:flex-row lg:mt-0">
        <section class="text-left text-balance max-w-md min-w-40">
            <h1 class="text-5xl font-bold">Daniel Báez</h1>
            <p class="text-3xl font-semibold text-primary mb-4">
                {t("home.role")}
            </p>
            <p class="text-lg mb-3">
                {t("home.istudied")}
            </p>
            <p class="text-lg mb-3">
                {t("home.iworked")}
            </p>

            <div class="space-y-4">
                <a
                    class="group relative block transition-transform transform hover:translate-x-5"
                    href="https://kaplayjs.com"
                    target="_blank"
                >
                    <article class="bg-base-200 lg:w-96">
                        <div class="flex flex-row">
                            <div class="p-4">
                                <p class="text-primary">
                                    🟊 Featured Project: <strong>KAPLAY</strong>
                                </p>
                                <p>
                                    Fun and open source game library for HTML5
                                    Games
                                </p>
                            </div>

                            <img
                                src="kaplayicon.webp"
                                class="object-cover w-24"
                            />
                        </div>
                    </article>
                </a>

                <a
                    class="group relative block transition-transform transform hover:translate-x-5"
                    href="https://lajbel.itch.io/juicy-beat"
                    target="_blank"
                >
                    <article class="bg-base-200 lg:w-96">
                        <div class="flex flex-row">
                            <div class="p-4">
                                <p class="text-primary">
                                    🟊 New Game: <strong>Juicy Beat!</strong>
                                </p>
                                <p>
                                    A new brand rhythm game with apples and good
                                    music
                                </p>
                            </div>

                            <img
                                src="jbicon.png"
                                class="object-cover w-24"
                            />
                        </div>
                    </article>
                </a>
            </div>
        </section>

        <figure>
            <Image
                src={birdyImage}
                alt="Daniel Báez's potrait"
                class="max-w-xs rounded-lg shadow-2xl lg:max-w-sm"
            />
        </figure>
    </Hero>
</Base>
