---
import birdyImage from "@/assets/images/birdy.png";
import LinkButton from "@/components/buttons/LinkButton.astro";
import Timeline from "@/components/display/Timeline.astro";
import Hero from "@/components/layout/Hero.astro";
import Base from "@/layouts/Base.astro";
import { getStaticPathsByLocales } from "@/util/path";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

export function getStaticPaths() {
	return getStaticPathsByLocales();
}

const { t, lang } = Astro.props;
---

<Base
	{t}
	{lang}
	meta={{
		title: "Daniel Báez - Full Stack Web Development",
		description:
			"I'm Daniel, a Full Stack Web Developer, My first contact with technology was with Project 64. My first and favorite programming language is JavaScript",
	}}
>
	<Hero class="flex-col-reverse gap-16 mt-6 lg:flex-row lg:mt-0">
		<section class="text-left text-balance max-w-lg">
			<h1 class="text-5xl font-bold">Daniel Báez</h1>
			<h2 class="text-3xl font-semibold text-primary">
				{t("home.role")}
			</h2>
			<p class="text-lg py-6 lg:max-w-[30ch]">
				I studied Fullstack web development at the Technology University
				of Buenos Aires. My main stack is MERN.
				<br />
				<br />
				I've worked in different projects, from chat bot implementations
				for services to game engines, being maintener of Kaboom.js.
			</p>
			<nav class="flex flex-wrap gap-2">
				<LinkButton
					class="btn-primary btn-lg"
					href="https://fiverr.com/lajbel"
					target="_blank"
				>
					<Icon name="jam:fiverr" size={24} />
				</LinkButton>

				<LinkButton class="btn-secondary btn-lg" href="/projects">
					<Icon name="jam:grid-f" size={24} /> Browse Projects
				</LinkButton>
			</nav>
		</section>

		<figure>
			<Image
				src={birdyImage}
				alt="Daniel Báez's potrait"
				class="max-w-xs rounded-lg shadow-2xl lg:max-w-sm"
			/>
		</figure>
	</Hero>
	<section class="min-h-screen">
		<Timeline />
	</section>
</Base>
