---
import birdyImage from "@/assets/images/birdy.png";
import Hero from "@/components/common/Hero.astro";
import QuickAccess from "@/components/QuickAccess.astro";
import Base from "@/layouts/Base.astro";
import { getStaticPathsByLocales } from "@/util/path";
import { Image } from "astro:assets";

export function getStaticPaths() {
    return getStaticPathsByLocales();
}

const { t, lang } = Astro.props;
---

<Base
    {t}
    {lang}
    meta={{
        title: "Daniel Báez Ibarrola - Games, Game Engines and Websites",
        description:
            "I lead and manage projects related to video games and web. I’ve worked with different teams, taking part in leadership, problem-solving and making sure things get done.",
    }}
>
    <Hero class="flex-col-reverse gap-16 mt-6 lg:flex-row lg:mt-0">
        <section class="text-left text-balance max-w-md min-w-40">
            <h1 class="text-5xl font-bold">Daniel Báez</h1>
            <p class="text-3xl font-semibold text-primary mb-4">
                {t("home.role")}
            </p>
            <p class="text-lg mb-3">
                {t("home.istudied")}
            </p>
            <p class="text-lg mb-3">
                {t("home.iworked")}
            </p>

            <div class="space-y-4">
                <QuickAccess
                    name="KAPLAY"
                    label="Featured Project"
                    description="Fun and open source game library for HTML5 Games"
                    url="https://kaplayjs.com"
                    imageUrl="kaplayicon.webp"
                />

                <QuickAccess
                    name="Juicy Beat!"
                    label="New Game"
                    description="A new brand rhythm game with apples and good music"
                    url="https://lajbel.itch.io/juicy-beat"
                    imageUrl="jbicon.png"
                />
            </div>
        </section>

        <figure>
            <Image
                src={birdyImage}
                alt="Daniel Báez's potrait"
                class="max-w-xs rounded-lg shadow-2xl lg:max-w-sm"
            />
        </figure>
    </Hero>
</Base>
