---
import ProjectCard from "@/components/projects/ProjectCard.astro";
import { projects } from "@/config";
import Base from "@/layouts/Base.astro";
import { getStaticPathsByLocales } from "@/util/path";

export function getStaticPaths() {
    return getStaticPathsByLocales();
}

const { t, lang } = Astro.props;
---

<Base
    {t}
    {lang}
    meta={{
        title:
            "lajbel.com | Projects, game development meets web development",
        description:
            "A collection of my projects, from web development to game development.",
    }}
>
    <div class="min-h-screen p-4 flex flex-col">
        <h1 class="text-5xl font-bold text-center my-4">
            {t("projects.title")}
        </h1>
        <p class="text-center">
            I love mixing game development with web development, so my projects
            are a mix of both
        </p>

        <div
            class="w-full flex flex-col justify-center items-center gap-8 my-8"
        >
            {
                projects
                .map((project, i) => (
                    <ProjectCard {...{ ...project, ...{ idx: i } }} />
                ))
            }
        </div>

        <p class="text-center my-4">
            <span></span>For more projects, you can check my <a
                class="link link-hover link-primary"
                href="https://github.com/lajbel"
                target="_blank"
            >GitHub</a>.</span> For more games take a look on <a
                class="link link-hover link-primary"
                href="https://lajbel.itch.io"
                target="_blank"
            >Itch.io</a>.
        </p>
    </div>
</Base>
