{% extends "base.njk" %}

{% set data = "" %}
{% for pageData in search.pages(("id=" + id + " lang=" + lang)) %}
{% set data = pageData %}
{% endfor %}

{% block page %}
<div class="portfolio">
    <div class="portfolio__content">
        <header class="portfolio__header | cs-flex-col | p-5 items-center">
            <h1 class="my-2 text-xl text-center text-accent font-bold">lajbel</h1>
        </header>

        <main class="portfolio__main">
            {{ c.portfolio.profile(data) | safe }}

            <h2 class="my-2 text-lg text-center text-accent font-bold">Projects</h2>

            {{ c.portfolio.projects(data) | safe }}

            <h2 class="my-2 text-lg text-center text-accent font-bold">Latest blogs</h2>

            {{ c.portfolio.blogs(data) | safe }}
        </main>

    </div>
    <footer class="portfolio__footer">
        <div class="portfolio__description">
            Made by Daniel Báez (@lajbel) with Lume
        </div>
    </footer>
</div>
{% endblock %}