{% extends "base.njk" %}

{% set data = "" %}
{% for pageData in search.pages(("id=" + id + " lang=" + lang)) %}
{% set data = pageData %}
{% endfor %}

{% block page %}
<div class="portfolio | cs-flex-column | items-center w-full">
    <header class="portfolio__header | cs-flex-col | p-5 items-center">
        <h1 class="my-2 text-xl text-center text-accent font-bold">lajbel</h1>
    </header>
    <main class="portfolio__main">
        {{ c.portfolio.profile(data) | safe }}
        {{ c.portfolio.projects(data) | safe }}

        <h2 class="my-2 text-lg text-center text-accent font-bold">Latest blogs</h2>

        {{ c.portfolio.blogs(data) | safe }}
    </main>
    <footer class="cs-flex-row | bg-accent w-full p-5 mt-10">
        <div class="text-light text-sm">
            <p class="text-base text-semibold uppercase">lajbel</p>
            <p>is an acronym for "<bold>L</bold>ove <bold>a</bold>nd <bold>J</bold>uice <bold>Bel</bold>ow</p>
            <p>© 2024 lajbel</p>
        </div>
    </footer>
</div>
{% endblock %}