{% extends "base.njk" %}

{% block page %}
<div class="portfolio">
    <div class="portfolio__content">
        <h1 class="portfolio__title portfolio__title--accent">lajbel</h1>
        {{ c.portfolio.profile() | safe }}
        <section class="portfolio__projects">
            <h2 class="portfolio__subtitle portfolio__subtitle--accent">Featured Projects</h2>

            <div class="portfolio__featured-projects">
                {% for project in search.pages(["lang=en featured=true", tag] | join) %}
                {{ c.newCard(project) | safe }}
                {% endfor %}
            </div>
        </section>
    </div>
</div>
{% endblock %}