{% extends "base.njk" %}

{% set postData = "" %}
{% for data in search.pages("id=" + id)%}
{% set postData = data %}
{% endfor %}

{% block page %}
<div class="space">
    {{ c.space.nav() | safe }}
    {{ c.space.window(postData) | safe }}
</div>
{% endblock %}