{{ layout "base.vto" }}
<div class="space | cs-flex-row | h-screen">
    {{ c.nav({ itContext: it }) }}

    <div class="w-full overflow-auto flex justify-center bg-[#f5f1f1]">
        {{ content }}
    </div>
</div>
{{ /layout }}