// components
.portfolio {
    --gap: 0rem;

    @screen lg {
        --gap: 2rem;
    }
}

.projects {
    --gap: 1rem;
    --grid-columns: 1;

    @screen lg {
        --grid-columns: 2;
    }
}

.profile {
    --gap: 0rem;


    &__buttons {
        --gap: 1rem;
    }

    &__stats  {
        --gap: 1rem;
        gap: var(--gap);
    }

    @media screen and (min-width: 1024px) {
        &__stats {
            --gap: 15px;
        }
    }
}

.project-card {
    --gap: 0px;
    flex-shrink: 0;

    &__stack {
        --gap: 1rem;
    }
}