@use "variables" as *;

.card-folder {
    transition: .2s;
    background-color: #D2AA65;
    height: fit-content;

    &__cover {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: $card-height;
        color: $background-color;
        user-select: none;
    }

    &__cards-container {
        display: flex;
        flex-direction: column;
        gap: 0px;
        transition: .2s;
        border-width: 4px;
        border-style: solid;
        border-color: #a68142;
        background-color: #a68142;
        height: max-content;
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: auto
    }

    &--active & {
        &__cards-container {
            gap: 4px;
            border-width: 4px;
        }
    }
}

.card {
    top: var(--card-top);
    left: var(--card-left);
    z-index: 1;
    transition: 0.4s;
    cursor: pointer;
    background-image: url("https://images.unsplash.com/photo-1631148601579-9e20bf28ab59?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=686&q=80");
    background-position: center;
    background-size: cover;
    background-color: #D2AA65;
    width: $card-width;
    height: 0px;
    min-height: 0px;
    text-decoration: none;

    &__info {
        transition: .4s;
        background-color: #2a2727a8;
        width: 100%;
        height: 50%;
        overflow-y: hidden;
        color: $background-color;
        user-select: none;
    }

    &__name {
        font-weight: bold;
        font-size: $text-size-small;
        text-align: left;
    }

    &__description {
        font-size: $text-size-ssmall;
        text-align: left;
    }

    &--active {
        min-height: $card-height;
    }

    &--active & {
        &__info {
            padding: 4px;
        }
    }
}