// cs prefix means composition in CUBE CSS

.cs-flex-row {
    display: flex;
    flex-direction: row;
    gap: var(--gap, 1rem);
}

.cs-flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--gap, 1rem);
}

.cs-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.cs-grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns, 1), 1fr);
    gap: var(--gap, 1rem);
}
