@use "variables" as *;

.nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 1;
    box-shadow: -1px 6px 27px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #ffc561;
    padding: 10px;
    width: 100%;
    max-width: 273px;
    overflow-y: auto;

    &__title {
        padding: 10px;
        color: #fff;
        font-weight: 600;
        font-size: $text-size-large;
        text-align: center;
    }
}