@use "variables" as *;

:root {
    --all-background-color: #f0f2fb;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
}

.page {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    background-color: var(--all-background-color);
    width: 100%;
    height: 100vh;
    line-height: 1.8rem;
    font-family: 'Fredoka', sans-serif;
    font-weight: 300;
}