@use "variables" as *;

.presentation {
    width: 100%;

    &__name {
        text-align: center;
        font-size: $text-size-huge;
        font-weight: bold;
        margin: 10px 0px;
    }

    &__bio {
        text-align: center;
    }

    &__line {
        margin: 10px auto;
        width: 90%;
    }
}