@use "variables" as *;

.presentation {
    width: 100%;
    background-color: #ffc561;
    padding: 10px;

    &__name {
        text-align: center;
        font-size: $text-size-huge;
        font-weight: bold;
        margin: 10px 0px;
    }

    &__bio {
        text-align: center;
    }

}