@use "variables" as *;

.social-medias {
    background-color: $background-color;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-icon {
    font-size: 1.8rem;
    padding: 4px;

    &--github {
        color: #333;
    }

    &--twitter {
        color: #000000;
    }
}