// Fonts
$main-font-family: 'Mukta', sans-serif;

// Text sizes
$text-size-ssmall: 1rem;
$text-size-small: 1.2rem;
$text-size-medium: 1.6rem;
$text-size-large: 2.4rem;

// Colors
$background-color: #FBF6F0;
$accent-color: #FFA45B;