// Fonts
$main-font-family: 'Fredoka', sans-serif;

// Text sizes
$text-size-ssmall: 1rem;
$text-size-small: 1.2rem;
$text-size-medium: 1.6rem;
$text-size-large: 2.4rem;
$text-size-huge: 3.2rem;

// Colors
$background-color: #FBF6F0;
$accent-color: #FFA45B;

// Sizes
$desktop-width: 1024px;