@use "v";
@import url('https://fonts.googleapis.com/css2?family=REM&family=Ubuntu+Mono&display=swap');
@import "./nav.scss";
@import "./slideProject.scss";

// Generics
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    color: v.$fontColor1;
    font-family: v.$fontFamily1;
}

body {
    width: 100vw;
    height: 100vh;
}

h1 {
    margin: 0px;
    padding: 0px;
}

// Classes
.page {
    width: 100%;
    height: 100%;
    background-color: v.$bgColor1;
    font-family: v.$fontFamily1;
}

.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.maininfo {
    h1 {
        margin: 0px;
        font-size: v.$huge;
        font-weight: bold;
        color: #FF7700;
    }

    p {
        margin: 4px 0px;
        font-size: v.$large;
        max-width: 500px;
    }
}

.swiper {
    width: 600px;
    height: 300px;
}