---
type Props = astroHTML.JSX.BaseHTMLAttributes;
const { class: className } = Astro.props;
---

<div class="hero min-h-screen">
	<main class:list={["hero-content text-center", className]}>
		<slot />
	</main>
</div>
