---
import Timeline from "../timelines/Timeline.astro";
import TimelineItem from "../timelines/TimelineItem.astro";
---

<section class="max-w-4xl">
    <h1 class="text-4xl font-bold">Experience</h1>

    <Timeline class="timeline-snap-icon timeline-compact timeline-vertical">
        <TimelineItem
            title="KAPLAY Team"
            subtitle="Main project maintainer"
            time="May 2024 to Present"
            end={false}
        >
            <p>
                In the KAPLAY team, we are working on an open source project, KAPLAY, 
                user-friendly and powerful JavaScript library for creating games.
            </p>
        </TimelineItem>
        <TimelineItem
            title="ConLuc. Corp"
            subtitle="Software Developer, UI/UX"
            time="Sep 2023 to Dec 2023"
            end={false}
        >
            <p>
                In ConLuc. Corp, I worked on the development and refactoring of
                the UI/UX of a soccer online game, using Unity3D.
            </p>
        </TimelineItem>
        <TimelineItem
            title="Replit"
            subtitle="Software Developer, Event Managment, Game Engine development"
            time="March 2022 to December 2022"
        >
            <p>
                In Replit, I worked on the development of a game engine called
                Kaboom.js, using JavaScript, where I was the maintainer of the
                project. I added features, fixed bugs, and improved the
                documentation website, using Next.js.
            </p>
            <p>
                I also participed in the Replit Reps program, where I organized
                different Game Jams and Hackathons.
            </p>
        </TimelineItem>
        <TimelineItem
            title="Matrix"
            subtitle="Software Developer, Fullstack Developer"
            time="2021"
            start={false}
        >
            <p>
                In Matrix, I worked on the development of various tools for the
                company, a Discord's chatbot for the company's service platform,
                and a internal reminder application.
            </p>
        </TimelineItem>
    </Timeline>
</section>
