@use "../theme/colors" as *;
@use "../theme/sizes" as *;
@use "../theme/mixins" as *;

@mixin colorize($text, $background, $border) {
    border-color: $border;
    background-color: $background;
    color: $text;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    padding: 5px 20px;
    max-width: 200px;
    font-size: $text-size-small;
    text-decoration: none;

    &:hover {
        @include colorize($light-color, $accent-color, $accent-color);
    }

    &--light {
        @include colorize($light-color, $accent-color, $light-color);

        &:hover {
            @include colorize($accent-color, $light-color, $light-color);
        }
    }

    &--dark {
        @include colorize($dark-color, $light-color, $dark-color);

        &:hover {
            @include colorize($light-color, $dark-color, $dark-color);
        }
    }

    &--flat {
        box-shadow: none;
    }

    &--full {
        width: 100%;
        height: 100%;
        font-size: $text-size-medium;
    }

    &__link {
        color: inherit;
        text-decoration: none;
    }
}