---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import LinkButton from "../components/buttons/LinkButton.astro";
import birdyImage from "../images/birdy.png";
---

<Layout
	meta={{
		title: "Daniel Báez - Full Stack Web Development",
		description:
			"I'm Daniel, a Full Stack Web Developer, My first contact with technology was with Project 64. My first and favorite programming language is JavaScript",
	}}
>
	<Hero className="flex-col-reverse lg:flex-row">
		<div class="text-left text-balance">
			<h1 class="text-5xl font-bold">Daniel Báez</h1>
			<h2 class="text-3xl font-semibold text-primary">
				Full Stack Web Developer
			</h2>
			<p class="text-lg py-6">
				I studied Fullstack web development at the Technology University
				of Buenos Aires. My main stack is MERN.
				<br />
				<br />
				I've worked in different projects, from chat bot implementations
				for services to game engines, being maintener of Kaboom.js.
			</p>
			<LinkButton
				class="btn-primary btn-lg"
				href="https://fiverr.com/lajbel"
				target="_blank"
			>
				<Icon name="jam:fiverr" /> Fiverr
			</LinkButton>

			<LinkButton class="btn-secondary btn-lg" href="/projects">
				<Icon name="jam:grid-f" /> Browse Projects
			</LinkButton>
		</div>

		<figure>
			<Image
				src={birdyImage}
				alt="Daniel Báez Face"
				class="max-w-xs rounded-lg shadow-2xl lg:max-w-sm mb-4"
			/>
		</figure>
	</Hero>
</Layout>
