---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/cards/ProjectCard.astro";
import { projects } from "../config";
---

<Layout
	meta={{
		title: "Daniel Báez Projects - Visual Novel engines, Kaboom.js, Discord bots, and more!",
		description:
			"A collection of my projects, from web development to game development.",
	}}
>
	<div class="min-h-screen p-2 lg:p-4">
		<h1 class="text-5xl font-bold">Projects</h1>

		<div class="w-full grid grid-cols-autofit gap-4 mt-8">
			{
				projects
					.filter((p) => p.featured)
					.map((project) => <ProjectCard {...project} />)
			}
		</div>

		<div class="w-full grid grid-cols-autofill gap-4 mt-8">
			{
				projects
					.filter((p) => !p.featured)
					.map((project) => <ProjectCard {...project} />)
			}
		</div>
	</div>
</Layout>

<style>
	.grid-cols-autofill {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}

	.grid-cols-autofit {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
</style>
