---
interface Props {
	className?: string;
}

const { className } = Astro.props;
---

<div class="hero min-h-screen">
	<main class:list={["hero-content text-center max-w-4xl", className]}>
		<slot />
	</main>
</div>
