---
interface Props {
    title: string;
    image: string;
    link: string;
    target?: string;
}

const { title, image, link, target } = Astro.props;
---

<a href={link} target={target}>
    <article class="card card-compact bg-[#6247aa] h-24 up-on-hover">
        <div class="card-body justify-center items-center">
            <h3 class="card-title">
                {title}
            </h3>
        </div>
    </article>
</a>
