<section class="profile">
    <figure class="profile__avatar">
        <img class="profile__avatar-image" src="/images/realajbel.jpg" alt="lajbel">
    </figure>

    <div class="profile__info">
        <p class="profile__description">
            I'm a <span class="profile__description">Full Stack Web developer</span>, specialized with <span
                class="profile__description profile__description--green">MongoDB</span>,
            <span class="profile__description profile__description--blue">Express</span>, <span
                class="profile__description profile__description--blue">React</span> and <span
                class="profile__description profile__description--blue">Node.js</span>. My favorite
            drink is the coffee
        </p>

        <dl class="profile__stats">
            {{ c.portfolio.stat({ icon: "human", text: info.gender }) | safe }}
            {{ c.portfolio.stat({ icon: "location", text: info.city }) | safe }}
            {{ c.portfolio.stat({ icon: "calendar", text: info.birth }) | safe }}
            {{ c.portfolio.stat({ icon: "mail", text: info.email }) | safe }}
        </dl>

        <div class="profile__buttons">
            {{ c.common.button({ link: "/", text: "Check CV", modifiers: ["flat"] }) | safe }}
            {{ c.common.button({ link: "/space", text: "Check my space", modifiers: ["flat"] }) | safe }}
        </div>
    </div>
</section>