<section class="projects">
    <div class="projects__featured">
        {% for data in search.pages(["featured=true", tag] | join) %}
            {{ c.portfolio.projectCard({ data: data }) | safe }}
        {% endfor %}
    </div>
</section>