<section class="projects">
    <div class="projects__featured">
        {% for data in search.pages(["featured=true", tag] | join) %}
        {{ c.common.card({ data: data, modifiers: ["active", "featured"] }) | safe }}
        {% endfor %}
    </div>
</section>