{% set statIcon = icons[icon] %}

<dt class="hidden">{{ title }}</dt>
<dd class="text-sm">
    <i 
        class="{{ statIcon }}
        | align-middle mr-2 w-[30px]
        | text-base text-center text-accent"
        role="img"
    ></i>
    {{- text -}}
</dd>