---
import ContactForm from "@/components/common/ContactForm.astro";
import Logo from "@components/images/Logo.astro";
---

<footer class="footer p-10 bg-base-200 text-base-content">
    <aside>
        <Logo class="fill-current" />
        <p>lajbel</p>
        <p>"Love and Juice Below" - Daniel Báez Ibarrola</p>
        <p>from 2019 to 2024, Buenos Aires, Argentina</p>
    </aside>
    <nav>
        <h6 class="footer-title">Important Links</h6>
        <a href="/" class="link link-hover">Home</a>
        <a href="/projects" class="link link-hover" target="_blank">Projects</a>
        <a href="https://twitter.com/lajbel" class="link link-hover">Twitter</a>
        <a href="https://dev.to/lajbel" class="link link-hover">DEV.to</a>
        <a
            href="https://lajbel.newgrounds.com"
            class="link link-hover"
        >Newgrounds</a>
        <a
            href="https://fiverr.com/lajbel"
            class="link link-hover"
            target="_blank"
        >Contract</a>
    </nav>
    <ContactForm />
</footer>
