:root {
    --all-background-color: #e1e3ee;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    font-family: 'Fredoka', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}