// Text sizes
$text-size-ssmall: 1rem;
$text-size-small: 1.2rem;
$text-size-medium: 1.6rem;
$text-size-large: 2.4rem;
$text-size-huge: 3.2rem;

// Sizes
$desktop-width: 1024px;
$card-width: 253px;
$card-height: 124px;