<div class='
card-folder' id={{ id }}>
    <div class="card-folder__cover">
        <h2 class="card-folder__title">{{ cardTitle }}</h2>
    </div>

    <div class="card-folder__cards-container">
        {% for data in search.pages("lang=" + lang + " " + tag) %}
        {% if not (data.id == currentCard) %}
        {{ c.common.card({ data: data }) | safe }}
        {% endif %}
        {% endfor %}
    </div>

</div>