<nav class="nav">
    <a class="nav__title" href="/">lajbel.com</a>
    <div class="nav__cards-container">
        {{ c.space.cardFolder({ cardTitle: "Kaboom.js Tutorials", tag: "kaboomjs", id: "kaboomjs", currentCard: id,
        lang: lang }) |
        safe }}
        {{ c.space.cardFolder({ cardTitle: "Projects", tag: "project", id: "projects", currentCard: id, lang: lang }) |
        safe }}
        {{ c.space.cardFolder({ cardTitle: "Games", tag: "game", id: "games", currentCard: id, lang: lang }) | safe }}
    </div>
    {{ c.common.button({ text: "Check Portfolio", link: "/", modifiers: ["light", "flat"], label: "Check my portfolio!"
    }) | safe }}
    <div class="nav__button">
        <i class="fa-solid fa-caret-right"></i>
    </div>
</nav>