{% set active = false if nopost else true %}

<article class="post {{- " post--active" if active else "" }}">
    {{ titleImage }}
    <header class="post__header">
        <div class="post__header-content">
            <h1 class="post__title">{{ title }}</h1>
        </div>

        <img class="post__banner" src="{{ image }}" alt="Post's banner">
    </header>

    <main class="post__content">
        {% if active %}
        {{ content | md | safe }}
        {% endif %}
    </main>
</article>