{% set postData = "" %}
{% for data in search.pages("id=" + id)%}
{% set postData = data %}
{% endfor %}

<div class="window">
    {{ c.space.post(postData) | safe }}

    <div class="window__nothing">
        <p class="window__nothing-text"><i class="fa-solid fa-ghost"></i></p>
    </div>
</div>