{% set data = "" %}
{% for pageData in search.pages("id=" + id + " lang=" + lang)%}
{% set data = pageData %}
{% endfor %}

<div class="window">
    {{ c.space.post(data) | safe }}

    <div class="window__nothing">
        <p class="window__nothing-text"><i class="fa-solid fa-ghost"></i></p>
    </div>
</div>