<div class="badge | bg-accents-300 py-1 px-4 w-fit h-fit">
    <strong class="badge__text | text-sm font-normal">
        <span aria-hidden="true" class="badge__icon | align-middle">
            {{ c.icon({ icon: it.icon }) }}
        </span>
        {{- text -}}
    </strong>
</div>
