<a rel="" class="button button--light" aria-label="{{ label }}" href="{{ link }}" {{ if nofollow }} rel="nofollow" {{ /if }}>
    {{ if icon }}
    <i class="button__icon {{ icons[icon] }}"></i>
    {{ /if }}
    <span>{{- text -}}</span>
</a>