<div class='
card-folder {{ ' card-folder--active' if active else '' }} '
id={{ id }}
>
    <div class="card-folder__cover">
        <h2 class="card-folder__title">{{ cardTitle }}</h2>
    </div>

    <div class="card-folder__cards-container">
        {% for post in search.pages(["lang=en ", tag] | join) %}
        {{ comp.card(post.data) | safe }}
        {% endfor %}
    </div>
</div>