<div class='card-folder {{ ' card-folder--active' if active else '' }}'>
    <div class=" card-folder__cover">
        <h2>{{ cardTitle }}</h2>
    </div>

    <div class="card-folder__cards-container">
        {% for post in search.pages(tag) %}
        {{ comp.card(post.data) | safe }}
        {% endfor %}
    </div>
</div>