<a class="card" href="{{ cardlink }}" target="_blank" style='background-image: url({{image}});'>
    <div class=" card__info">
        <h4 class="card__name">{{ name }}</h4>
        <p class="card__description">{{ description }}</p>
    </div>
</a>