<div id="{{ title }}" class="card" style='background-image: url({{image}});'>
    <div class="card__info"'>
        <h4 class="card__name">{{ title }}</h4>
        <p class="card__description">{{ description }}</p>
    </div>
</div>