<nav class="nav">
    <h1 class="nav__title">lajspace</h1>
    <div class="nav__cards-container">
        {{ c.cardFolder({ cardTitle: "Projects", tag: "project", id: "projects" }) | safe }}
        {{ c.cardFolder({ cardTitle: "Games", tag: "game", id: "games" }) | safe }}
    </div>
    {{ c.common.button({ text: "Back to portfolio", link: "/", color: "light" }) | safe }}
    <div class="nav__button">
        <i class="fa-solid fa-caret-right"></i>
    </div>
</nav>