{% set spaceLink = "/space/?card=" + id %}
{% set featuredClass = "new-card--featured" if featured else ""%}
{% set cardDescription = featuredDescription if featured else description %}

<div id="{{ id }}" class="new-card {{ featuredClass }}">
    <img class="new-card__image" src="{{ image }}" alt="{{ title }}" />
    <div class="new-card__summary" style='
    --card-img: url("{{ image }}");
    '>
        <div class="new-card__info">
            <h4 class="new-card__title new-card__title--light">{{- title -}}</h4>
            <p class="new-card__description">{{- cardDescription -}}</p>
        </div>

        <div class="new-card__featured">
            <div class="new-card__buttons">
                {{ c.common.button({
                icon: "rocket",
                link: spaceLink,
                modifiers: ["flat", "light", "full"]
                }) | safe }}
                {{ c.common.button({
                icon: "github",
                link: repo,
                modifiers: ["flat", "light", "full"]
                }) | safe }}
            </div>

            <div class="new-card__stack">
                {% for stack in stack %}
                {{ c.common.badge({
                icon: stack,
                text: stack
                }) | safe }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>