{% set spaceLink = "/space/?card=" + id %}

<a id="{{ id }}" href="{{ spaceLink }}" class="new-card new-card--big">
    <img class="new-card__image" src="{{ image }}" alt="{{ title }}" />
    <div class="new-card__info">
        <h4 class="new-card__title new-card__title--light">{{ title }}</h4>
        <p class="new-card__description">{{ description }}</p>
    </div>
</a>