<div class="social-medias">
        <a href="https://github.com/lajbel" target="_blank" class="social-media-icon social-media-icon--github"><i
                        class="fa-brands fa-github"></i></a>
        <a href="https://twitter.com/lajbel" target="_blank" class="social-media-icon social-media-icon--twitter"><i
                        class="fa-brands fa-x-twitter"></i></a>
</div>