<div class="space">
    <div class="space__controls">
        <button class="space__btn space__exit-btn"><i class="space__btn-text fa-solid fa-x"></i></button>
    </div>

    <div class="space__post">
    </div>
</div>