<div class="space">
    {% if not single %}
    <div class="space__controls">
        <button class="space__btn space__exit-btn"><i class="space__btn-text fa-solid fa-x"></i></button>
    </div>
    {% endif %}


    <div class="space__post {{ " space__post--active" if single else "" }}">
        <div class="space__post-header">
            <h1 class="space__post-title">{{ title }}</h1>
            <img class="space__post-image" src="{{ img }}" alt="Space image">
        </div>

        <div class="space__post-content">
            {% if single %}
            {{ content | safe }}
            {% endif %}
        </div>
    </div>

    <div class="space__nothing">
        <p class="space__nothing-text">A random quote. <br> - A person </p>
    </div>
</div>