<dt class="sr-only">{{ title }}</dt>
<dd class="text-sm">
    <span class="inline-block align-middle mr-2 w-[30px] text-center text-accent text-base">
        {{ c.icon({ link: it.link, icon: it.icon }) }}
    </span>
    {{- text -}}
</dd>
