<dt class="sr-only">{{ title }}</dt>
<dd class="text-sm">
    <i 
        class="{{ icons[icon] }}
        | align-middle mr-2 w-[30px]
        | text-base text-center text-accent"
        role="img"
    ></i>
    {{- text -}}
</dd>